* {
  box-sizing: border-box
}
section {
  padding:0 5%;
}

/* utils */
@import "../scss/utils/mixin";
@import "../scss/utils/vars";

/* admin pages */
@import "../scss/admin/menu-editor";

/* nav */
@import "../scss/blocks/nav-menu";

/* pages */
@import "../scss/pages/current-page";

/* main layout */
.container {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100%;

  main {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    section {
      width: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}