$mainFont: "Fira Sans", sans-serif;

/* media width */
$mediaWidthDesktop: 1580px;
$mediaWidthLaptop: 1366px;
$mediaWidthLaptopMini: 1200px;
$mediaWidthTabletHorizontal: 991px;
$mediaWidthTablet: 767px;
$mediaWidthBigMobile: 575px;
$mediaWidthMobile: 374px;