.menu-editor {
  opacity: 1;
  max-height: 100vh;

  &__wrapper {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    li {
      padding: 16px;
      border-radius: 10px;
    }
  }

  ul.children-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      padding: 16px;
      margin: 16px 16px 0px 16px;
      border: 1px solid;
    }
  }

  &__item, &__options {
    display: flex;
    gap: 6px;
  }

  &__item {
    flex-direction: column;
  }

  &__options {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
}

.menu-editor__wrapper .menu-editor__item {
  .children-list .menu-editor__item{
    background: aliceblue;
    ul > li.menu-editor__item {
      background: #FCE4E4FF;
      ul > li.menu-editor__item {
        background: aliceblue;
        ul > li.menu-editor__item {
          background: #FCE4E4FF;
          ul > li.menu-editor__item {
            background: aliceblue;
          }
        }
      }
    }
  }
}